.row {
     margin-right: 0px;
     margin-left: 0px;
}
.form-control {

    margin-left: 57px;
    padding-left: 90px;
}
/*Modificattion des styles du navbar*/
.navbar-brand{
    font-size: 22px;
}
.navbar-header{

    color: #1b6d85;
}
/*changer la position du carrousel*/
.carousel{
    margin-top: 111px;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
}
/*changer la couleur du navbar*/
.navbar-inverse{
    background-color: #FDFDFD;

}
/*changer la couleur du selecteur  */
.navbar-inverse .navbar-nav>li>a:hover {
    color: #222222;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #1b6d85;
    background-color: transparent;
}

.btn-ins {
    background-color: #1b6d85;
    color: #fff;
    /*padding: 10px;*/
    border-radius: 10px;
}

.row1{
    margin-top: 300px;
}
.detail{

    margin-right: 199px;

}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
