
.form-control {

    margin-left: 57px;
    padding-left: 90px;
}
/*Modificattion des styles du navbar*/
.navbar-brand{
    font-size: 22px;
}
.navbar-header{

    color: #1b6d85;
}
/*changer la position du carrousel*/
.carousel{

    margin-top: 111px;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
}
/*changer la couleur du navbar*/
.navbar-inverse{
    background-color: #FDFDFD;

}
/*changer la couleur du selecteur  */
.navbar-inverse .navbar-nav>li>a:hover {
    color: #222222;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #1b6d85;
    background-color: transparent;
}